@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.home-button {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 90px;
    font-size: $typographic-base-font-size;
    padding: 0 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: lighten($color-base, 20%);
    background: $color-gray-bg;
    font-weight: 400;
    border-radius: 3px;
    @include margin-top(1);
    &:hover,
    &:focus {
        color: $color-base;
        background: darken($color-gray-bg, 5%);
        border: 0;
    }
}
