@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.sidebar {
    width: $layout-width;
    &__author {
        &-photo {
            display: inline-block;
            margin-bottom: 0;
//            border-radius: 50%;
            background-clip: padding-box;
        }
        &-title {
            font-size: $typographic-base-font-size * 1.225;
            font-weight: 500;
            font-weight: 500;
            @include line-height(1.125);
            @include margin(.5, 0, .5, 0);
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-base;
                }
            }
        }
        &-subtitle {
//            color: $color-gray;
            @include line-height(1);
            @include margin-bottom(1);
            @include margin-top(0);
        }
    }
    &__copyright {
//        color: lighten($color-gray, 18%);
        font-size: $typographic-small-font-size;
        text-align: center;
        margin-top: 24px;
    }
}

@include breakpoint-sm {
    .sidebar {
        &__inner {
            &:after {
                background: $color-gray-border;
                background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
            }
        }
    }
}
